@import '../Card/Card.scss';
@import '../ComparedCard/ComparedCard.scss';
@import '../App/App.scss';
@import '../Controls/Controls.scss';
@import '../DataButton/DataButton.scss';
@import '../CardContainer/CardContainer.scss';
@import '../CompareContainer/CompareContainer.scss';

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
