.card {
  display: inline-block;
  width: 250px;
  height: 250px;
  overflow: scroll;
  font-size: .85em;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 254, 213, 0.85);
  padding: 10px;
  box-sizing: border-box; }

.card:hover {
  background-color: #fffed5;
  border: 5px solid #25ced1; }

.active {
  border: 5px solid #25ced1; }

.card-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  margin: 5px;
  text-align: center; }

.p-container p {
  width: 80px;
  margin: 10px auto 10px auto;
  font-family: "Open Sans", sans-serif; }

.less-than-half {
  color: #d9594c;
  font-size: .75em; }

.more-than-half {
  color: #85a335;
  font-size: .85em;
  font-weight: bold;
  text-decoration: underline; }

.district-average {
  font-family: "Montserrat", sans-serif; }

.compared-cards {
  color: #25ced1;
  height: 50px;
  text-align: center;
  padding-top: 15px; }

.app-render {
  text-align: center;
  background-image: url("../../assets/books-bg.jpg"); }

.search-input {
  height: 25px;
  width: 250px;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px; }

.data-button-container {
  display: flex;
  justify-content: space-between; }

.search-list {
  background: white;
  max-height: 200px;
  overflow-y: scroll;
  margin: 0 auto 0 auto;
  width: 250px; }

.list-items {
  border-bottom: 1px solid lightgrey;
  padding-left: 3px;
  text-align: left;
  text-decoration: none; }

.welcome {
  font-family: "Montserrat", sans-serif;
  padding: 12px;
  font-size: 3em;
  color: #fffed5; }

.data-container button {
  padding: 5px;
  height: 72px;
  font-family: "Montserrat", sans-serif; }

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.compare-container {
  display: flex;
  justify-content: space-around; }

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
