.compare-container {
  // background-image:  url("../../assets/books.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-around;
}

.compared-cards {
  // background: brown;
  color: black;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}
