.app-render {
  text-align: center;
  background-color: #8a8d90;
  padding-top: 10px; }

.search-input {
  height: 25px;
  width: 250px;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px; }


.data-button-container {
  display: flex;
  justify-content: space-between; }

.search-list {
  background: white;
  max-height: 200px;
  overflow-y: scroll;
  margin: 0 auto 0 auto;
  width: 250px; }

.list-items {
  border-bottom: 1px solid lightgrey;
  padding-left: 3px;
  text-align: left;
  text-decoration: none; }

