.card {
  width: 200px;
  font-size: .85em;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px dotted black;
  background-color: rgba(100, 25, 100, 0.3); }

.card-header {
  font-size: 1.05em;
  font-weight: bold;
  margin: 5px;
  text-align: center; }

.p-container {
  width: 80px;
  margin: 10px auto 10px auto; }

.less-than-half {
  color: red;
  font-size: .75em; }

.more-than-half {
  color: green;
  font-size: .85em;
  font-weight: bold; }

body {
  background-color: lavender; }

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.compare-container {
  height: 500px;
  background-color: white; }

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
