.card {
  display: inline-block;
  width: 200px;
  font-size: .85em;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2584e4; }

.active {
  border: 2px solid green; }

.card-header {
  font-size: 1.05em;
  font-weight: bold;
  margin: 5px;
  text-align: center; }

.p-container {
  width: 80px;
  margin: 10px auto 10px auto; }

.less-than-half {
  color: red;
  font-size: .75em; }

.more-than-half {
  color: green;
  font-size: .85em;
  font-weight: bold; }
